<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src="/js/lightbox.min.js"></script>
    <link rel="stylesheet" href="/css/gallery.css">
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Flickr Gallery</h2>
            </div>
            <div class="row photos">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.lazy.min.js"></script>
    <script type="text/javascript"
        src="/js/jquery.lazy.plugins.min.js"></script>
    <script src="/js/gallery.js"></script>
    <%- include("../includes/end.ejs") %>