<%- include('includes/head.ejs') %>

    <wrapper class="d-flex flex-column min-vh-100">
        <main class="flex-fill d-flex align-items-center">
            <div class="container-fluid text-center">
                <div class="text-center">
                    <div class="d-flex justify-content-evenly">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                            <div class="card-header">Products</div>
                            <a href="products">
                                <div class="card-body text-white">
                                    <h4 class="card-title">Products</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the
                                        card's content.</p>
                                </div>
                            </a>
                        </div>
                        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                            <div class="card-header">Gallery</div>
                            <a href="gallery">
                                <div class="card-body text-white">
                                    <h4 class="card-title">Gallery</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the
                                        card's content.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </wrapper>



    <%- include('includes/end.ejs') %>